<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.1.1.0" newVersion="1.1.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.1.2.0" newVersion="1.1.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="Data ExtractSoap">
          <security mode="Transport"/>
        </binding>
        <binding name="Data ExtractSoap1"/>
        <binding name="Data ReportSoap">
          <security mode="Transport"/>
        </binding>
        <binding name="Data ReportSoap1"/>
        <binding name="BasicHttpBinding_IUpload"/>
        <binding name="BasicHttpBinding_IUpload1">
          <security mode="Transport"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://api.brandbank.com/svc/feed/extractdata.asmx" binding="basicHttpBinding" bindingConfiguration="Data ExtractSoap" contract="ExtractData.DataExtractSoap" name="Data ExtractSoap"/>
      <endpoint address="https://api.brandbank.com/svc/feed/reportdata.asmx" binding="basicHttpBinding" bindingConfiguration="Data ReportSoap" contract="ReportData.DataReportSoap" name="Data ReportSoap"/>
      <endpoint address="http://api.brandbank.com/svc/DataImport/Upload.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUpload" contract="UploadData.IUpload" name="BasicHttpBinding_IUpload"/>
      <endpoint address="https://api.brandbank.com/svc/DataImport/Upload.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUpload1" contract="UploadData.IUpload" name="BasicHttpBinding_IUpload1"/>
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
